@use '../styles/theme/functions';

$extraSmallFontSize: functions.pixelToRem(14);
$smallFontSize: functions.pixelToRem(16);
$defaultFontSize: functions.pixelToRem(20);
$largeFontSize: functions.pixelToRem(28);
$extraLargeFontSize: functions.pixelToRem(32);
