@use '../styles/theme/functions';

$extraSmallFontSize: functions.pixelToRem(10);
$smallFontSize: functions.pixelToRem(12);
$defaultFontSize: functions.pixelToRem(14);
$largeFontSize: functions.pixelToRem(18);
$extraLargeFontSize: functions.pixelToRem(24);
