@use '../styles/theme/functions';

$extraSmallFontSize: functions.pixelToRem(12);
$smallFontSize: functions.pixelToRem(14);
$defaultFontSize: functions.pixelToRem(18);
$largeFontSize: functions.pixelToRem(24);
$extraLargeFontSize: functions.pixelToRem(28);
